* {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Bebas Neue", cursive;
}
h3,
h5 {
  font-family: "Roboto", sans-serif !important;
  font-weight: bolder !important;
  color: #2a1e59;
}
.navbar-menu {
  background-color: #fffff4;
  padding-top: 1em;
}
.text {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  color: #2a1e59;
}
.text-heighlight {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  color: #76c27e;
}
button {
  color: white !important;
  background-color: #2a1e59 !important;
}
.bag-card {
  border: 0;
}
.card-img-top {
  padding: 30px;
  background-color: whitesmoke;
  border: 10px solid white;
  border-radius: 10%;
}
